
.transparent-ingredient {
    color: gray;
}

.main {
    color: pink;
}
.fruit-container, .vegetables-container, .volume {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;    
}
.wrapper {
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: first baseline;
}
.text {
    padding-left: 60px;
}
 .chosen-ingredients{
    display: flex;
    gap: 20px;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    font-size: 25px;
}
select {
    appearance: none;
    outline: 10px red;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: purple;
    background-image: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 20px;
    
    
}
  
  :root {
    --background-gradient: linear-gradient(178deg, #ffff33 10%, #3333ff);
    --gray: #34495e;
    --darkgray: #2c3e50;
  }
  .title {
    text-align: center;
    width: 100%;
   color: violet;
  }
  .button {
    margin-left: 25px;
  }
  
  .total {
    font-size: 20px;
  }
  .added {
    font-size: 25px;
  }